#profileImage {
    border-radius: 50%;
    background: #512DA8;
    font-size: 35px;
    color: #fff;
    text-align: center;
}

#profileImage1 {
    border-radius: 50%;
    background: #512DA8;
    font-size: 100px;
    color: #fff;
    text-align: center;
}

#profileImage2 {
    border-radius: 50%;
    background: #512DA8;
    font-size: 48px;
    color: #fff;
    text-align: center;
}

.profile-pic img {
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0px #c1c1c1;
    cursor: pointer;
    width: 100px;
    height: 100px;
}  

.heading__title{
    display:block !important;
}


.menu__list-link--active {
    background-color: #6d9985;
}

.menu__link--active {
    color: #ffc107 !important;
 }